.footer-container {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.895), rgba(255, 255, 255, 0.204)), url('/Banner.png');
    /* height: 600px; */
    background-repeat: no-repeat;

    background-size: cover;

}